<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize, class:'sub-header' %></h1>
</div>
<div class="pull-right">
  <%= link_to t('.new'), profile_new_path, :class => 'btn btn-primary btn-sm' %>
</div>
<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile %></td>
        <td>
        <%= link_to t('.show'), profile_path(:name => profile), :class => 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
