<%- model_class = ContainerHost -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:hostname) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.container_hostname %></td>
        <td>
        <%= link_to t('.back', :default => t("helpers.links.back")),
          container_hosts_path(), :class => 'btn btn-info btn-sm' %>
        <%= link_to t('.show', :default => t("helpers.links.show")),
          container_path(:container_hostname => container.container_hostname), :class => 'btn btn-primary btn-sm' %>
        <%= link_to t('.delete', :default => t("helpers.links.delete")),
          container_delete_path(:container_hostname => container.container_hostname), method: :delete, :class => 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
